*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #eeeeee;
    height: 100%;
}

body {
    font: 300 18px/1.5em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #ffffff;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {color: #08c; text-decoration: none;}
a:hover, a:focus {color: #005580;}
a:hover, a:active {outline: 0;}

samp {
    /* hide <samp> from the browser so we can show cool features in Edge Code CC */
    display: none;
}

code, kbd {
    font-family: source-code-pro, monospace;   
    font-weight: 400;
}

.webfonts-icon {
    background-image: url(img/webfonts-icon.svg);
    width: 25px;
    height: 20px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position: 0px -25px;
    margin-bottom: -4px;
}

.edge-inspect-icon {
    background-image: url(img/edge-inspect-icon.svg);
    width: 25px;
    height: 20px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position: 0px -25px;
    margin-bottom: -4px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 200;
    border-top: 5px solid #383838;
    transition: background-color 0.5s ease;
}
header:hover {background: rgba(102,158,213,0.75); /* 669ED5 */}
header .logo {float: left; margin-left: 1em; display: block;}
header .logo img {display: block;}

nav {float: right; margin-right: 1em;}
nav a {display: inline-block; color: #222; height: 65px; line-height: 3.5em; padding: 0 0.5em; transition: color 0.5s ease;}
header:hover nav a {color: #FFF;}
nav a.active {font-weight: bold;}

#pages {}

#pages section {
    position: relative;
    border-bottom: 5px solid #383838;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: background-position 0.25s ease 0ms;
    -moz-transition: background-position 0.25s ease 0ms;
    -o-transition: background-position 0.25s ease 0ms;
    transition: background-position 0.25s ease 0ms;
}

#pages section .info {
    padding: 5em;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

#pages section .glow {
    position: absolute;
    z-index: 10;
    left: 60%;
    top: 30%;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, rgba(255,255,255,0.6)), color-stop(70%, rgba(255,255,255,0)));
    background-image: -webkit-radial-gradient(center center, rgba(255,255,255,0.6),rgba(255,255,255,0) 70%);
    background-image: -moz-radial-gradient(center center, rgba(255,255,255,0.6),rgba(255,255,255,0) 70%);
    background-image: -o-radial-gradient(center center, rgba(255,255,255,0.6),rgba(255,255,255,0) 70%);
    background-image: radial-gradient(center center, rgba(255,255,255,0.6),rgba(255,255,255,0) 70%);
    width: 800px;
    height: 800px;
    margin-top: -400px;
    margin-left: -400px;
}

section#home {
    min-height: 650px;
    background-color: rgb(30,90,146);
    overflow: hidden;
}
section#home .info {
    max-width: 500px;
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
}

section#about {
    background: url(assets/wood.png) bottom center rgb(0,90,246);
    overflow: hidden;
}
section#about .info {padding-bottom: 0;}
html.csstransforms #about img {-webkit-transform: scale(2); opacity: 0; width: 100%; margin-top: 2em; -webkit-transition: 0.5s ease; display: block;}
html.csstransforms #about.visible img {-webkit-transform: scale(1); opacity: 1;}

section#personalize {
    background: url(assets/colors.png) center center rgb(30,0,106);
}

section#forums {
    background-color: rgb(30,90,0);
}

section#drawall {
    background-color: rgb(30,90,146);
    overflow: hidden;
}

section#more {
    background-color: rgb(30,90,146);
    overflow: hidden;
}

section#download {
    background-color: rgb(30,90,146);
    overflow: hidden;
}

footer {
    background: #F2F4F5;
    padding: 2em;
    text-align: center;
}
footer a {}