<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{page.title}} - BetterGaia</title>
        <meta name="description" content="What if a better Gaia existed? Change the way you experience Gaia Online.">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/normalize.css">
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="shortcut icon" href="/assets/img/bettergaia.png">
        <link rel="apple-itouch-icon" href="/assets/img/bettergaia.png">
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/lmgjagdflhhfjflolfalapokbplfldna">
    </head>

    <body>
        <!--[if lt IE 10]>
        <div class="wrapper align-center">
            <h1>For a better web</h1>
            <p>Your web browser is out of date. <a class="button" href="http://browsehappy.com/">Find out how to get a modern, fast, and beautiful web browser.</a></p>
        </div>
        <![endif]-->

        <header>
            <div class="wrapper">
                <div class="left"></div>
                <h1>BetterGaia</h1>
                <p>Change the way you experience Gaia Online.</p>
            </div>
        </header>
