html {overflow-x: hidden;}

.header-bar {height: 25px; background-color: rgba(40,121,167,0.7); box-shadow: none;}
.header-bar .header-icon {height: 25px; width: 25px; background-size: 15px;}
.header-bar .header-channel {height: 25px; margin: 0 32px; text-align: left; font-size: 15px; line-height: 24px; color: #FFF;}

.chat {padding-top: 35px; font-size: 75%;}
.chat .time {font-size: 1em;}

.aside {top: 25px; position: absolute; right: 0; z-index: 98;}
.showPanel .aside {left: 0; right: 0; height: 100%;}

.panel-menu {}
.panel-menu .panel-button {height: 25px; width: 25px;}
.panel-menu .panel-button-slider {width: 50px; height: 25px; background-size: contain; background-position: left center;}
.showPanel .panel-menu .panel-button-slider {
  -webkit-transform: translate3d(-25px, 0, 0);
  -moz-transform: translate3d(-25px, 0, 0);
  -ms-transform: translate3d(-25px, 0, 0);
  -o-transform: translate3d(-25px, 0, 0);
  transform: translate3d(-25px, 0, 0);
}
.panel-menu .panel-counter {top: 0; right: 25px; height: 25px; border-radius: 0; box-shadow: none; padding: 0 5px; line-height: 25px;}

.button-down {width: 100%; height: 25px; left: 0; bottom: 0; border-radius: 0; border-top: 1px solid rgba(0,0,0,0.075);}
.theme--day .button-down {background-color: rgba(237,236,233,0.7);}
.button-down .button-down-icon {height: 25px; width: 20px; top: 0; left: 50%; margin: 0 0 0 -10px;}

.isTroll .footer-wrapper {padding: 5px 10px 10px;}
.isTroll .message-input {padding: 0px 7px; font-size: 15px;}
.message-button--submit {top: 3px; right: 3px; font-size: 11px; padding: 5px 10px 6px;}
