body {
    background: #FDFDFD;
    color: #000;
    font-family: 'Lato', sans-serif;
    min-width: 300px;
    font-size: 1em;
}

@-ms-viewport {width: device-width;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

a {color: #045164; text-decoration: none;}
a:hover {color: #9CD6E0; text-decoration: underline;}
a:active, a:focus {color: #045164;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.15em;
}
h1 {font-size: 3.05em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
h5 {font-size: 0.75em;}
h6 {font-size: 0.5em;}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {color: #999; display: block;}

hr {border: 0; height: 0; border-top: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(255,255,255,0.25);}

.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

.left {float: left;}
.right {float: right;}

.button {
    display: inline-block;
    background: rgb(0,128,0); 
    padding: 0.5em 1em; 
    color: #FFF; 
    text-decoration: none; 
    border-radius: 2em;
    text-align: center;
}
.button:hover {text-decoration: none; color: #FFF; background: rgba(0,128,0,0.75);}
.button:active {background: rgba(0,128,0,0.65);}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    padding: 2em 0;
}

.clear:after, .wrapper:after, #more ul:after {
    display: table;
    content: '';
    clear: both;
}

header {
    background: -webkit-linear-gradient(left top, #AFDDFD, #E9F3FA);
    background: -moz-linear-gradient(left top, #AFDDFD, #E9F3FA);
    background: linear-gradient(to top right, #AFDDFD, #E9F3FA);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#E9F3FA', endColorstr='#AFDDFD');
    text-align: right;
}
header .wrapper {padding: 0;}
header .left {height: 8em; width: 10em; background: url(img/logotext.png) no-repeat bottom left; background-size: contain;}
header h1 {margin: 0; letter-spacing: -2px; font-size: 3em; line-height: 0.6em; color: #05A6C2; padding-top: 0.8em;}

@media only screen and (max-width: 599px) {
    header {text-align: center; padding-bottom: 0.8em;}
    header .left {float: none; margin: 0 auto;}
}

section {border-top: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(255,255,255,0.25);}
section .wrapper > h1:first-of-type, section .wrapper > h3:first-of-type {margin-top: 0.2em;}
section .wrapper > img.left, section .wrapper > img.right {margin: 1.25em 0;}
section .wrapper > img.left {margin-right: 2.5em;}
section .wrapper > img.right {margin-left: 2.5em;}
section .wrapper > p {line-height: 1.5em;}

@media only screen and (max-width: 599px) {
    section, section h1, section h2 {text-align: center;}
    section .wrapper > img.left, section .wrapper > img.right {float: none; max-width: 100%; margin: 0.5em 0;}
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
    section .wrapper > img.left, section .wrapper > img.right {max-width: 50%;}
}

#personalize {
    background: -webkit-linear-gradient(top, #C8E8FF, #F4FAFF);
    background: -moz-linear-gradient(top, #C8E8FF, #F4FAFF);
    background: linear-gradient(to bottom, #C8E8FF, #F4FAFF);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#C8E8FF', endColorstr='#F4FAFF');
    border-bottom: 0;
}

#more {}
#more h1, #more h2 {text-align: center;}
#more ul {margin: 0 0 2em; padding: 0; line-height: 1.5em;}
#more ul li {width: 25%; float: left; list-style-type: square; list-style-position: inside; text-align: left;}

@media only screen and (max-width: 599px) {
    #more ul li {width: 50%;}
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
    #more ul li {width: 33%;}
}

#reviews {}
#reviews .wrapper > div {width: 25%; float: left; padding: 1em;}
#reviews .wrapper > div strong {text-align: right; display: block;}
#reviews .wrapper > div strong span {display: block; font-weight: normal;}
#reviews .wrapper > div p {background: #FFF; border: 1px solid rgba(0,0,0,0.1); padding: 1em; margin: 1em 0;}
#reviews .wrapper > div p span {display: block; font-size: 2em; padding: 0 0 0.5em; text-align: center; color: #FFE03F; text-shadow: 0 1px 0px rgba(0,0,0,0.5);}

@media only screen and (max-width: 599px) {
    #reviews .wrapper > div {width: auto; float: none;}
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
    #reviews .wrapper > div {width: 50%;}
}

#download {
    background: -webkit-linear-gradient(top, #C8E8FF, #F4FAFF);
    background: -moz-linear-gradient(top, #C8E8FF, #F4FAFF);
    background: linear-gradient(to bottom, #C8E8FF, #F4FAFF);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#C8E8FF', endColorstr='#F4FAFF');
    border-bottom: 0;
}
#download h2 {}
#download div.left {width: 37%;}
#download div.right {width: 26%;}
#download div img {width: 25%; margin: 1em 1.5em 1em 0em;}
#download div.right h2 {margin-bottom: -0.2em;}

@-webkit-keyframes glint {
    0% {background-position: -80px 0;}
    50% {background-position: 80px 0;}
    100% {background-position: 80px 0;}
}
@keyframes glint {
    0% {background-position: -80px 0;}
    50% {background-position: 80px 0;}
    100% {background-position: 80px 0;}
}

#download div.left .button {
    margin: 0 5px; 
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.25) 55%, rgba(255,255,255,0) 70%); 
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.25) 55%, rgba(255,255,255,0) 70%); 
    background-image: linear-gradient(-45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.25) 55%, rgba(255,255,255,0) 70%); 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: -80px 0; 
    -webkit-transition: background-position 0s ease 0.15s; 
    -webkit-animation: 5s glint infinite 2.5s;
    transition: background-position 0s ease 0.15s; 
    animation: 5s glint infinite 2.5s;
}

@media only screen and (max-width: 599px) {
    #download div.left {width: auto; float: none; clear: both; text-align: center;}
    #download div.left:nth-of-type(2) {margin-top: 2.5em;}
    #download div.left h2 {text-align: center;}
    #download div img {margin: 1em 1em 0; float: none;}
    #download div.right {width: auto; float: none; clear: both; padding-top: 2.5em; text-align: center;}
    #download div.right h2 {margin-top: 0;}
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
    #download h3.align-center {text-align: left;}
    #download div.left {width: 50%;}
    #download div img {margin: 1em 0 0; float: none;}
    #download div.right {width: auto; float: none; clear: both; padding-top: 2.5em;}
}

#copyright {
    text-align: center;
    color: #777;
}

footer {
    background-color: #345768;
    background-image: -moz-radial-gradient(center center, circle cover, rgba(200,232,255,0), rgba(244,250,255,0.25));
    background-image: -webkit-radial-gradient(center center, circle cover, rgba(200,232,255,0), rgba(244,250,255,0.25));
    background-image: radial-gradient(center center, circle cover, rgba(200,232,255,0), rgba(244,250,255,0.25));
    box-shadow: 0 1em 1em -1em rgba(0,0,0,0.25) inset;
    color: #FFF;
    text-align: center;
}
footer .wrapper {width: auto; max-width: none;}
footer .align-left {display: inline-block;}
footer p {margin: 0;}
footer h2 {margin: 0; text-align: left;}
footer h2 a {color: #9CD6E0;}

/* Smaller than standard 960 (devices and browsers) *
@media only screen and (max-width: 959px) {}
 
/* Tablet Portrait size to standard 960 (devices and browsers) *
@media only screen and (min-width: 768px) and (max-width: 959px) {}
 
/* All Mobile Sizes (devices and browser) *
@media only screen and (max-width: 767px) {}
 
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) *
@media only screen and (min-width: 480px) and (max-width: 767px) {}
 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) *
@media only screen and (max-width: 479px) {}*/