* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, .pure-g, .pure-g [class *="pure-u"] {font-family: Lato, FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;}

html, body {height: 100%; font-size: 13px;
  word-wrap: break-word;}

h1, h2, h3, h4, h5, h6, label {
    color: #222;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.15em;
}
h1 {font-size: 3.05em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
h5 {font-size: 0.75em;}
h6 {font-size: 0.5em;}

.text-center {text-align: center;}
.text-right {text-align: right;}

.pure-g {height: 100%;}

.pure-u-1-5 {background: #2d3e50; color: #fff;}
#menu {text-align: center;}
#menu > a {padding: 0.5em 0.6em; display: block; background: #E3F2FD; line-height: 0; transition: all 0.25s ease;}
#menu > a img {width: 100%; max-width: 5em; display: inline-block;}
#menu ul {list-style: none; padding: 0; margin: 0.25em 0;}
#menu ul li {display: block; text-align: center; transition: all 0.25s ease;}
#menu ul li a {display: block; padding: 0.5em 0; color: #fff; text-decoration: none; outline: none; transition: all 0.25s ease;}
#menu ul li a i {display: block; font-size: 2em; margin: 0 0 0.1em; transition: all 0.25s ease;}
#menu ul li.active {font-weight: bold; background: #2196F3;}

.pure-u-4-5 {padding: 0 1em; box-sizing: border-box; overflow: auto; transition: opacity 0.25s ease;}
.pure-u-4-5.loading {opacity: 0.5; pointer-events: none;}
.pure-u-4-5[data-page="chat.html"] {overflow: hidden;}
.pure-u-4-5[data-page="chat.html"] iframe {width: 80vw; margin: 0 -1em; height: 100vh; overflow: hidden;}

pre {word-wrap: break-word;}

/* Expanded */
@media (min-width: 500px) {
    #menu > a {padding: 0 1em;}
    #menu ul li a {padding: 0.5em 1em;}
    #menu ul li a i {font-size: 2.5em;}
}
