html, body {height: 100%;}

.pure-g {height: 100%;}

.pure-u-1-5 {background: rgb(37,42,58); color: #fff;}
#menu {}
#menu > a {padding: 1em 1em 0.75em; display: block; background: linear-gradient(to top right, #B5DDFF, #FFF);}
#menu > a img {width: 50%; min-width: 50px;}
#menu ul {list-style: none; padding: 0;}
#menu ul li {display: block;}
#menu ul a {display: block; padding: 0.5em 1em; color: #fff; text-decoration: none;}

.pure-u-4-5 {padding: 1em; box-sizing: border-box;}
