/* Draw All */
#dailyReward .bg_drawall {background: linear-gradient(to bottom right, #FF1B1B, #850019); border: 1px solid #C8CED2; position: absolute; right: -25px; bottom: 16px; cursor: pointer; border-radius: 2px; box-shadow: 0 0 0 1px rgba(0,0,0,0.5) inset, 0 1px 1px rgba(0,0,0,0.7); box-sizing: border-box; font: bold 9px/7px 'Palatino Linotype', 'Book Antiqua', Palatino, serif; color: #FFCC00; text-transform: uppercase; padding: 6px 5px;}
#dailyReward .bg_drawall em {font-weight: bold; text-transform: lowercase; font-size: 13px; display: block; text-align: right;}
#dailyReward .bg_drawall:before, #dailyReward .bg_drawall:after {content: ''; background: linear-gradient(to bottom, #C8CED2, #9CA0A4); width: 1px; height: 13px; display: block; position: absolute; bottom: -14px; left: 7px; box-shadow: 0 1px 0 rgba(0,0,0,0.5); border-right: 1px solid rgba(0,0,0,0.5);}
#dailyReward .bg_drawall:after {right: 7px; left: auto;}
#dailyReward .bg_drawall:hover {opacity: 0.7;}

#bg_drawall {position: fixed; top: 50%; left: 50%; margin: -171px 0 0 -312px; width: 625px; z-index: 777; padding: 0; height: 0; overflow: none; opacity: 0; transition: opacity 0 ease 0; visibility: hidden;}
#bg_drawall.bgopen {height: auto; overflow: visible; opacity: 1; transition: opacity .7s ease .2s; visibility: visible;}
#bg_drawall.bgopen + div.bettergaia.mask {display: block; z-index: 500; background: #000; opacity: 0.75;}

#bg_drawall * {box-sizing: border-box;}

#bg_drawall .bgda_header {padding: 15px 10px 10px; font: bold 17px/normal "Century Gothic", "TeXGyreAdventorBold", Arial, Tahoma, Verdana, sans-serif; text-shadow: 0 1px 0 rgba(0,0,0,0.2); background: -webkit-radial-gradient(center bottom, ellipse farthest-side, #0092C0, rgba(85,146,141,0)); text-align: center; position: relative;}
	#bg_drawall .bgda_header strong {display: block; color: #FFF;}

	#bg_drawall .bgda_header .bonus {color: #FFF; text-shadow: 0 1px 0 rgba(0,0,0,0.4); border-radius: 20px; background: rgba(0,0,0,0.4); font-size: 11px; padding: 2px 6px; margin: 0; display: inline-block;}
	#bg_drawall .bgda_header .bonus:empty {display: none;}

	#bg_drawall .bgda_header #bg_candyclose {cursor: pointer; height: 16px; width: 16px; position: absolute; right: 10px; bottom: 12px;}
	#bg_drawall .bgda_header #bg_candyclose:after {content: "\00D7"; color: #FFF; width: 19px; height: 19px; display: block; position: absolute; top: 0; right: 0; text-align: center; border-radius: 15px; font: bold 24px/20px Arial, Helvetica, sans-serif; text-shadow: none;}
	#bg_drawall .bgda_header #bg_candyclose:hover:after {background: #FFF; color: #000;}

#bg_drawall ul {border: 3px solid #3C3C3C; border-width: 3px 0;}
#bg_drawall ul:after {content: ""; display: table; clear: both;}
#bg_drawall ul > li {display: block; float: left; height: 130px; width: 125px; margin: 0; background: -webkit-radial-gradient(bottom, circle, #FFF 0%, #ABABAB 100%); text-align: center; border-left: 1px solid #999; position: relative; list-style: none;}

@-webkit-keyframes flipInX {
    0% {-webkit-transform: perspective(400px) rotateX(90deg); -webkit-transform-origin: center top; opacity: 0;}
    40% {-webkit-transform: perspective(400px) rotateX(-10deg);}
    70% {-webkit-transform: perspective(400px) rotateX(10deg);}
    100% {-webkit-transform: perspective(0) rotateX(0deg); opacity: 1; -webkit-animation-fill-mode: none;}
}

#bg_drawall.bgopen ul > li {-webkit-animation-duration: 0.9s; -webkit-animation-delay: .2s; -webkit-animation-timing-function: ease; -webkit-animation-fill-mode: both; -webkit-backface-visibility: visible !important; -webkit-animation-name: flipInX;}
#bg_drawall.bgopen ul > li:nth-of-type(1), #bg_drawall.bgopen ul > li:nth-of-type(6) {border-left: 0;}
#bg_drawall.bgopen ul > li:nth-of-type(6) {clear: both; margin-left: 62px;}

#bg_drawall.bgopen ul > li:nth-of-type(1), #bg_drawall.bgopen ul > li:nth-of-type(5), #bg_drawall.bgopen ul > li:nth-of-type(6), #bg_drawall.bgopen ul > li:nth-of-type(9) {-webkit-animation-delay: .5s;}
#bg_drawall.bgopen ul > li:nth-of-type(2), #bg_drawall.bgopen ul > li:nth-of-type(4), #bg_drawall.bgopen ul > li:nth-of-type(7), #bg_drawall.bgopen ul > li:nth-of-type(8) {-webkit-animation-delay: .3s;}
#bg_drawall.bgopen ul > li:nth-of-type(3) {-webkit-animation-delay: .1s;}

#bg_drawall ul > li div {height: 100px; padding: 10px;}
#bg_drawall ul > li div span {overflow: hidden; background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5) 2px, transparent 55%, transparent 76%, rgba(255,255,255,0.1) 100%) #FAA90F; color: #000; display: inline-block; cursor: pointer; box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 1px 1px rgba(0,0,0,0.5); transition: background-color ease 0.5s, opacity ease 0.2s; border: 5px solid rgba(0,0,0,0.2); text-shadow: 0 1px 0 rgba(255,255,255,0.4); border-radius: 50px/20px; height: 50px; width: 100px; font-weight: bold; font-size: 10px; letter-spacing: 3px; margin-top: 15px; text-transform: uppercase; opacity: 1;}
#bg_drawall ul > li div span:hover {background-color: #FFC934;}
#bg_drawall ul > li div span:active {background-color: #C17B00; box-shadow: 0 -1px 0 rgba(255,255,255,0.5) inset, 0 -2px 0px rgba(0,0,0,0.5); margin-top: 18px;}
#bg_drawall ul > li div span a {display: block; pointer-events: none; height: 100%; line-height: 38px; background-repeat: no-repeat; background-image: linear-gradient(to bottom right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 37%, rgba(255,255,255,0.8) 45%, rgba(255,255,255,0.0) 50%); background-position: -100px -100px, 0 0; background-size: 250% 250%, 100% 100%; transition: background-position 0s ease;}
#bg_drawall ul > li div span:hover a {background-position: 0 0, 0 0; transition-duration: 0.5s;}
#bg_drawall ul > li h5 {height: 30px; font: bold 14px/15px "Century Gothic", "TeXGyreAdventorBold", Arial, Tahoma, Verdana, sans-serif; margin: 0; display: block;}

#bg_drawall ul > li.bgc_loading {background: #316589;}
#bg_drawall ul > li.bgc_loading:before {content: '\e030'; color: #FFF; font-size: 45px; font-family: 'Glyphicons Halflings'; line-height: 47px; height: 45px; width: 45px; margin: 30px auto 25px; display: block; text-align: center; -webkit-animation: loading 1s infinite; -webkit-transform-origin: center center;}
#bg_drawall ul > li.bgc_loading h5 {color: rgba(225,225,225,0.3);}
#bg_drawall ul > li.bgc_loading div {display: none;}

#bg_drawall ul > li.bgc_error {}
#bg_drawall ul > li.bgc_error div {vertical-align: middle; display: table-cell; width: 140px;}

#bg_drawall ul > li.bgc_candy {}
#bg_drawall ul > li.bgc_candy div {font: 10px/15px Arial, Tahoma, Geneva, sans-serif; vertical-align: middle; display: table-cell; width: 140px;}
#bg_drawall ul > li.bgc_candy div a {color: #03C; text-decoration: none;}
#bg_drawall ul > li.bgc_candy div a:hover {text-decoration: underline;}
#bg_drawall ul > li.bgc_candy div img {width: 30px; height: 30px;}
#bg_drawall ul > li.bgc_candy div info {display: inline-block; padding: 10px; margin: -10px;}
#bg_drawall ul > li.bgc_candy div info:before {content: 'i'; border-radius: 7px; background: rgba(0,0,0,0.5); color: #FFF; display: block; font: italic bold 10px Georgia, "Times New Roman", Times, serif; height: 14px; padding: 1px 0 0; text-align: center; width: 14px;}
#bg_drawall ul > li.bgc_candy div info message {background: #FFF; visibility: hidden; padding: 5px; font-size: 10px; position: absolute; display: block; z-index: 2; left: 0; top: 0; bottom: 0; right: 0; border: 3px solid #C9A900; transition: opacity ease 0.4s, -webkit-transform ease 0.3s; opacity: 0; overflow: auto; height: 130px; -webkit-transform: scale(0.8);}
#bg_drawall ul > li.bgc_candy div info:hover message {opacity: 1; visibility: visible; -webkit-transform: scale(1);}
#bg_drawall ul > li.bgc_candy div h6 {font: bold 14px/15px "Century Gothic", "TeXGyreAdventorBold", Arial, Tahoma, Verdana, sans-serif;}
